* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-size: 100%;
	background: linear-gradient(
		to right,
		#2F80ED 0%,
		#2F80ED 20%,
		white 20%,
		white 100%
	);

}

.left {
    width: 12%;
    float: left;
    margin-top: 200px;
    margin-left: 50px;

}
.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li {    
    margin: 1px 0;
    border: 1px solid #999;
    margin-top: 50px;
}
.nav li a {
    display: block;
    line-height: 3em;
    width: 60%;
    text-decoration: none;

}

a {
	margin-top: 10px;
}

button{
	color: white;
	background: #333333;
	display: block;
    line-height: 3em;
    width: 100%;
    text-decoration: none;

}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.text_style h2{
	text-align: right;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 54px;
	color: #4F4F4F;

}

.text_style h3 {
	text-align: left;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 54px;
	color: #4F4F4F;
}

.wrapper {
	max-width: 500px;
	display: inline-block;
	position: relative;
	margin-left:-200px;
	margin-top: 60px;
}

.wrapper span {
	margin-left: 20px;
}